# General
.vscode
.env
env.h

node_modules

yarn-error.log
package-lock.json

# Analytics
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*ipynb

profile_default/
ipython_config.py

# Allowed
!.gitkeep
!.keep
